<!DOCTYPE html>
<html lang="en">
  <head>
    <script>
      const URL = window.location;
      const host = URL.host;
      const pathname = URL.pathname;
      const search = URL.search;

      if (window.screen.width <= 700) {
        window.location = "http://m." + host + pathname + search;
      }
    </script>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />

    <meta
      name="google-site-verification"
      content="_PvgYRcVmoS27s4SGEfgil3Bpy6v35FNJpPnMrjZ6Y8"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap"
      rel="stylesheet"
    />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
    />
  </head>
  <body>
    <noscript>
      <strong
        >We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work
        properly without JavaScript enabled. Please enable it to
        continue.</strong
      >
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
