<template>
  <v-app>
    <div class="pb-15 pt-15" style="width: 100%; background-color: #F4F5F9">
      <v-container style="width: 50%">
        <v-card class="mx-3 pb-5" outlined>
          <v-card-title>{{ $t("user details") }}</v-card-title>
          <v-row class="mx-3" dense>
            <v-col cols="3">
              <p style="color: darkblue; font-weight: bold">{{ $t("name") }}</p>
            </v-col>
            <v-col cols="9">
              <p
                style="color: black; font-weight: 400; text-transform: capitalize"
              >
                {{ userName }}
              </p>
            </v-col>
          </v-row>
          <v-row class="mx-3" dense>
            <v-col cols="3">
              <p style="color: darkblue; font-weight: bold">
                {{ $t("email") }}
              </p>
            </v-col>
            <v-col cols="9">
              <p
                style="color: black; font-weight: 400; text-transform: lowercase"
              >
                {{ userEmail }}
              </p>
            </v-col>
          </v-row>
        </v-card>
      </v-container>
      <v-container style="width: 50%">
        <v-card class="mx-3 pb-5" outlined>
          <v-card-title>{{ $t("update name") }}</v-card-title>
          <v-col>
            <v-form ref="form1" v-model="profileUpdate">
              <v-text-field
                v-model="updatedFullName"
                :rules="nameRules"
                clearable
                dense
                :label="fullName + ' *'"
                outlined
                required
                type="text"
              ></v-text-field>
              <v-btn
                :disabled="!profileUpdate"
                :loading="loading"
                color="green"
                outlined
                @click="validateProfileUpdate"
              >
                {{ $t("update") }}
              </v-btn>
            </v-form>
          </v-col>
        </v-card>
      </v-container>
      <v-container style="width: 50%;">
        <v-card class="mx-3 pb-5" outlined>
          <v-card-title>{{ $t("update password") }}</v-card-title>
          <v-col style="width: 100%">
            <v-form ref="form2" v-model="passwordUpdate">
              <v-text-field
                v-model="oldPassword"
                :append-icon="show1 ? mdiEye : mdiEyeOff"
                :type="show1 ? 'text' : 'password'"
                dense
                :label="Password + ' *'"
                outlined
                :rules="[rules.required]"
                required
                @click:append="show1 = !show1"
              ></v-text-field>

              <v-text-field
                v-model="newPassword"
                :append-icon="show2 ? mdiEye : mdiEyeOff"
                :rules="[rules.required, rules.min]"
                :type="show2 ? 'text' : 'password'"
                counter
                dense
                :label="NewPassword + ' *'"
                name="input-10-1"
                outlined
                @click:append="show2 = !show2"
              ></v-text-field>

              <v-text-field
                v-model="confirmNewPassword"
                :append-icon="show3 ? mdiEye : mdiEyeOff"
                :rules="[
                  rules.required,
                  rules.min,
                  v => v === newPassword || 'Password do not match :('
                ]"
                :type="show3 ? 'text' : 'password'"
                counter
                dense
                :label="ConfirmNewPassword + ' *'"
                outlined
                @click:append="show3 = !show3"
              ></v-text-field>

              <v-row>
                <v-col>
                  <v-btn
                    :disabled="!passwordUpdate"
                    :loading="loading2"
                    class="mr-4"
                    color="green"
                    outlined
                    @click="validatePasswordUpdate"
                  >
                    {{ $t("update") }}
                  </v-btn>
                </v-col>
              </v-row>
            </v-form>
          </v-col>
        </v-card>
      </v-container>

      <div v-if="notification">
        <Notification
          :color="notifyStatus.color"
          :message="notifyStatus.message"
          snackbar
        />
      </div>
    </div>
  </v-app>
</template>

<script>
import Notification from "@/components/Notification.vue";
import { mdiEye, mdiEyeOff } from "@mdi/js";
import axios from "axios";
import { UPDATE_PASSWORD, UPDATE_PROFILE } from "../../config/config";

export default {
  name: "Profile",
  components: {
    Notification
  },
  data() {
    return {
      tab: null,
      items: ["Profile", "Security"],
      show1: false,
      show2: false,
      show3: false,
      profileUpdate: false,
      passwordUpdate: false,
      loading: false,
      loading2: false,
      userName: localStorage.getItem("userName"),
      userEmail: localStorage.getItem("userEmail"),
      updatedFullName: "",
      oldPassword: "",
      newPassword: "",
      confirmNewPassword: "",

      nameRules: [
        v => !!v || "Name is required",
        v => v.length >= 4 || "Name is too short",
        v => v.trim().length >= 4 || "Name is too short"
      ],

      rules: {
        required: value => !!value || "Required.",
        min: v => v.length >= 8 || "Min 8 characters"
      },

      mdiEyeOff,
      mdiEye,
      request: {
        status: "",
        message: ""
      },
      notification: false,
      notifyStatus: {
        color: "",
        message: ""
      }
    };
  },
  computed: {
    fullName() {
      return this.$t("full name");
    },
    Password() {
      return this.$t("current password");
    },
    NewPassword() {
      return this.$t("new password");
    },
    ConfirmNewPassword() {
      return this.$t("confirm new password");
    }
  },
  methods: {
    async updateProfile() {
      this.notification = false;
      try {
        const options = {
          method: "PATCH",
          headers: { Authorization: `Bearer ${localStorage.getItem("jwt")}` },
          url: UPDATE_PROFILE,
          data: {
            name: this.updatedFullName
          }
        };
        const response = await axios(options);
        const { user } = response.data.data;
        localStorage.setItem("userName", user.name);

        this.notifyStatus.message = "Name Updated";
        this.notifyStatus.color = "success";
        this.notification = true;

        // await this.$router.push('/')
        this.loading = false;
      } catch (e) {
        this.request.status = e.response.data.status;
        this.request.message = e.response.data.message;

        this.loading = false;

        this.notifyStatus.message = "Update failed";
        this.notifyStatus.color = "error";
        this.notification = true;
      }
    },
    async updatePassword() {
      this.notification = false;

      try {
        const options = {
          method: "PATCH",
          headers: { Authorization: `Bearer ${localStorage.getItem("jwt")}` },
          url: UPDATE_PASSWORD,
          data: {
            passwordCurrent: this.oldPassword,
            password: this.newPassword,
            passwordConfirm: this.confirmNewPassword
          }
        };
        const response = await axios(options);
        const { user } = response.data.data;
        const { token } = response.data;

        localStorage.setItem("userName", user.name);
        localStorage.setItem("userEmail", user.email);
        localStorage.setItem("jwt", token);

        this.notifyStatus.message = "Password Updated";
        this.notifyStatus.color = "success";
        this.notification = true;

        // await this.$router.push('/')
        this.loading2 = false;
      } catch (e) {
        this.request.status = e.response.data.status;
        this.request.message = e.response.data.message;

        this.loading2 = false;

        this.notifyStatus.message = "Wrong password or something went wrong";
        this.notifyStatus.color = "error";
        this.notification = true;
      }
    },
    validateProfileUpdate() {
      this.$refs.form1.validate();
      if (this.name !== "" && this.email !== "") {
        this.loading = true;
        this.updateProfile();
      }
    },
    validatePasswordUpdate() {
      this.$refs.form2.validate();
      if (
        this.oldPassword !== "" &&
        this.newPassword !== "" &&
        this.confirmNewPassword !== ""
      ) {
        this.loading2 = true;
        this.updatePassword();
      }
    }
  }
};
</script>

<style scoped></style>
