<template>
  <div class="browse">
    <v-card flat>
      <template>
        <v-tabs v-model="tab" align-with-title show-arrows color="#32325d">
          <v-tab v-for="item in items" :key="item">
            {{ item }}
          </v-tab>
        </v-tabs>
      </template>
      <v-divider></v-divider>
    </v-card>

    <v-tabs-items v-model="tab" style="background-color: transparent">
      <v-tab-item v-for="item in items" :key="item">
        <CourseRow
          :url="HOME_VIEW"
          :to="'course'"
          :no-result-message="`No Result`"
        />
      </v-tab-item>
    </v-tabs-items>
  </div>
</template>

<script>
import { HOME_VIEW } from "../../config/config";
import CourseRow from "@/components/CourseRow";

export default {
  data() {
    return {
      tab: null,
      items: [
        "All",
        "new releases",
        "most popular"
        // 'development',
        // 'security',
        // 'creative',
        // 'data'
      ],
      courses: [Object],
      HOME_VIEW
    };
  },
  components: {
    CourseRow
  }
};
</script>
