<template>
  <div>
    <v-overlay :value="pageLoading">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>
    <v-container v-if="course.name !== 'Object'">
      <!--      New Design-->
      <v-row>
        <v-col cols="12" xs="12" sm="12" md="8">
          <!--  padding-top: 57%; /*56.25%;  16:9 Aspect Ratio */-->
          <div style="padding: 56.25% 0 0 0; position: relative; height: 100%">
            <iframe
              :src="`${course.introVideo}?title=0&byline=0&portrait=0`"
              style="
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
              "
              frameborder="0"
              allow="autoplay;fullscreen"
              allowfullscreen
            ></iframe>
          </div>
        </v-col>
        <v-col cols="12" xs="12" sm="12" md="4">
          <v-card flat tile height="100%">
            <v-card-text
              style="
                text-transform: capitalize;
                font-size: 1.4rem;
                font-weight: 500;
                color: #333;
                line-height: normal;
              "
            >
              {{ course.title }}
            </v-card-text>
            <v-card-subtitle class="pt-0 mt-0">
              {{ course.summary }}
            </v-card-subtitle>
            <!--            <v-card-text class="py-0">-->
            <!--              4.6 (86,429 ratings) 383,790 students-->
            <!--            </v-card-text>-->
            <v-card-text class="pb-2 mt-0 pt-0">
              {{ $t("created by") }}
              <span class="primary--text"> &nbsp; {{ course.author }} </span>
            </v-card-text>
            <!--            <v-card-text class="py-2">Last updated 5/2020</v-card-text>-->
            <v-card-text class="py-0">
              {{ $t("language") }}
              {{ course.language }}
            </v-card-text>
            <!--            <v-card-text class="pt-2">-->
            <!--              {{ course.lessonNo }} Lessons-->
            <!--            </v-card-text>-->

            <v-divider class="mt-4 mx-4"></v-divider>

            <v-card-title
              style="font-size: 1.5rem; font-weight: bold"
              class="mb-0 pb-0 pt-4"
              v-if="!isPurchased && !isFree"
            >
              ₹{{ course.price }}
              <v-container>
                <v-row>
                  <v-col>
                    <v-btn
                      small
                      v-if="isLoggedIn"
                      outlined
                      color="primary"
                      @click="purchaseCourse"
                      :loading="loading"
                      large
                      style="text-transform: capitalize"
                      width="100%"
                    >
                      {{ $t("enroll now") }}
                    </v-btn>
                    <v-btn
                      small
                      v-if="!isLoggedIn"
                      outlined
                      color="primary"
                      @click="sendToLoginPage"
                      :loading="loading"
                      large
                      style="text-transform: capitalize"
                      width="100%"
                    >
                      {{ $t("enroll now") }}
                    </v-btn>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-title>
            <v-card-title
              style="font-size: 1.5rem; font-weight: bold"
              class="mb-0 pb-0 pt-4"
              v-if="!isPurchased && isFree"
            >
              {{ $t("free") }}
              <v-container>
                <v-row>
                  <v-col>
                    <v-btn
                      small
                      v-if="isLoggedIn"
                      outlined
                      color="primary"
                      @click="enrollInFreeCourse"
                      :loading="loading"
                      large
                      style="text-transform: capitalize"
                      width="100%"
                    >
                      {{ $t("enroll now") }}
                    </v-btn>
                    <v-btn
                      small
                      v-if="!isLoggedIn"
                      outlined
                      color="primary"
                      @click="sendToLoginPage"
                      :loading="loading"
                      large
                      style="text-transform: capitalize"
                      width="100%"
                    >
                      {{ $t("enroll now") }}
                    </v-btn>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-title>

            <v-card-title
              style="font-size: 1.3rem; font-weight: 400"
              class="mb-0 pb-0 pt-4"
              v-if="isPurchased"
            >
              {{ $t("enrolled") }}
              <v-container>
                <v-row>
                  <v-col>
                    <v-btn
                      small
                      outlined
                      color="primary"
                      :to="`/player/${courseId}`"
                      :loading="loading"
                      large
                      style="text-transform: capitalize"
                      width="100%"
                    >
                      {{ $t("view course") }}
                    </v-btn>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-title>
          </v-card>
        </v-col>
      </v-row>
      <v-row class="mb-10">
        <v-col cols="12" xs="12" sm="12" md="8">
          <v-card flat outlined style="background-color: #fbfbf8">
            <v-card-title style="font-size: 1.1rem" class="mt-4">
              {{ $t("topics covered") }}
            </v-card-title>
            <v-card-text class="pt-0 mt-0">
              <v-row style="color: #444">
                <v-col cols="12" xs="12" sm="12" md="6">
                  <ul
                    style="list-style-type: square"
                    v-for="(topic, i) in topic[0]"
                    :key="i"
                  >
                    <li class="pa-1">
                      {{ topic }}
                    </li>
                  </ul>
                </v-col>
                <v-col cols="12" xs="12" sm="12" md="6">
                  <ul
                    style="list-style-type: square"
                    v-for="(topic, i) in topic[1]"
                    :key="i"
                  >
                    <li class="pa-1">
                      {{ topic }}
                    </li>
                  </ul>
                </v-col>
              </v-row>
            </v-card-text>
          </v-card>
        </v-col>
      </v-row>
      <!--      New Design Finished-->
    </v-container>
    <div v-if="notification">
      <Notification
        snackbar
        :color="notifyStatus.color"
        :message="notifyStatus.message"
      />
    </div>
  </div>
</template>

<script>
import Notification from "@/components/Notification";
import {
  COURSE,
  PURCHASE_COURSE,
  ENROLL_IN_FREE_COURSE,
  STRIPE_PUBLIC_KEY,
  COURSE_PREVIEW
} from "../../config/config";
import axios from "axios";
import { loadStripe } from "@stripe/stripe-js";
import { mapGetters } from "vuex";

export default {
  name: "Course",
  data() {
    return {
      course: Object,
      isPurchased: Boolean,
      isFree: Boolean,
      courseId: this.$route.params.id,
      pageLoading: true,
      loading: false,
      request: {
        status: "",
        message: ""
      },
      notification: false,
      notifyStatus: {
        message: "",
        color: ""
      }
    };
  },
  components: {
    Notification
  },
  created() {
    this.getCourse();
  },
  computed: {
    ...mapGetters(["isLoggedIn"]),
    topic() {
      const list = this.course.topics;
      const half = Math.ceil(list.length / 2);
      const firstHalf = list.splice(0, half);
      const secondHalf = list.splice(-half);
      return [firstHalf, secondHalf];
    }
  },
  methods: {
    getCourse: async function() {
      let URL = this.isLoggedIn ? COURSE : COURSE_PREVIEW;

      try {
        const options = {
          method: "GET",
          headers: {
            Authorization: `Bearer ${localStorage.getItem("jwt")}`
          },
          url: `${URL}/${this.courseId}`
        };
        const response = await axios(options);
        this.course = response.data.data.course;
        this.isPurchased = response.data.data.isPurchased;
        this.isFree = response.data.data.course.price === 0;

        this.pageLoading = false;
      } catch (e) {
        if (e.response.status === 401) {
          await this.$store.dispatch("logout");
          await this.$router.push("/login");
        }
        this.request.status = e.response.status;
        this.request.message = e.response.data.message;
        this.pageLoading = false;
        console.log(e.response);
      }
    },
    purchaseCourse: async function() {
      const stripe = await loadStripe(STRIPE_PUBLIC_KEY);
      this.loading = true;
      this.notification = false;

      try {
        const options = {
          method: "GET",
          headers: { Authorization: `Bearer ${localStorage.getItem("jwt")}` },
          url: `${PURCHASE_COURSE}/${this.courseId}`
        };
        const session = await axios(options);
        // this.loading = false
        await stripe.redirectToCheckout({
          sessionId: session.data.session.id
        });
      } catch (e) {
        this.loading = false;

        this.notifyStatus.message = "Something Went Wrong";
        this.notifyStatus.color = "error";
        this.notification = true;
      }
    },
    enrollInFreeCourse: async function() {
      this.loading = true;
      this.notification = false;
      try {
        const options = {
          method: "POST",
          headers: { Authorization: `Bearer ${localStorage.getItem("jwt")}` },
          url: `${ENROLL_IN_FREE_COURSE}/${this.courseId}`
        };
        await axios(options);
        await this.$router.push(`/player/${this.courseId}`);
        this.loading = false;
      } catch (e) {
        this.loading = false;

        this.notifyStatus.message = "Something Went Wrong";
        this.notifyStatus.color = "error";
        this.notification = true;
      }
    },
    sendToLoginPage: async function() {
      await this.$router.push("/login");
    }
  }
};
</script>

<style scoped lang="scss"></style>
