<template>
  <div class="help" style="height: 580px">
    <v-row align="center">
      <v-col class="d-flex" cols="12" sm="6">
        <v-card flat rounded style="width: 100%;height: 300px" class="pb-4">
          <v-card-title
            class="headline mt-4"
            style="font-family: 'Roboto', sans-serif; font-weight: 500"
          >
            {{ $t("call support") }} <br />
            WebLearnings
          </v-card-title>

          <v-card-text class="mt-1">
            <a
              href="tel:8250070036"
              style="text-decoration: underline; color:inherit"
            >
              +91 8250070036
            </a>
          </v-card-text>
          <v-card-text class="mt-0 pt-0">
            {{ $t("call message") }}
          </v-card-text>
          <v-card-actions class="pa-4">
            <v-btn outlined depressed href="tel:8250070036" color="primary">
              {{ $t("call us") }}
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
      <v-col class="d-flex" cols="12" sm="6">
        <v-card flat rounded style="width: 100%; height: 300px" class="pb-4">
          <v-card-title
            class="headline mt-4"
            style="font-family: 'Roboto', sans-serif; font-weight: 500"
          >
            {{ $t("email us") }}
            <br />
          </v-card-title>

          <v-card-text class="mt-0 pt-0">
            {{ $t("email message") }}
          </v-card-text>
          <v-card-text class="mt-0 pt-0">
            {{ $t("email") }}: support@weblearnings.com<br />
          </v-card-text>

          <v-card-actions class="pa-4">
            <v-btn
              depressed
              outlined
              href="mailto:support@weblearnings.com"
              color="primary"
            >
              {{ $t("send email") }}
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  name: "Analytics",
  data() {
    return {
      show: false,
      items: [true, false]
    };
  }
};
</script>
