<template>
  <!--  style="background-color: #606afa"-->
  <div class="pb-15 pt-15">
    <v-container>
      <v-row style="justify-content: space-around">
        <v-col cols="10" lg="4" md="6" sm="6">
          <v-card class="mx-auto pb-5" elevation="4" flat>
            <v-form ref="form" v-model="valid">
              <v-card-title
                style="
                  justify-content: space-around;
                  background-color: #f3f4f9;
                  color: #181d50;
                  font-weight: bold;
                "
              >
                {{ $t("sign in") }}<br />
                <!--                {{ email_is_required }}-->
              </v-card-title>
              <v-col class="px-10 pt-10 pb-0 mb-0" cols="12">
                <v-text-field
                  v-model="email"
                  :label="emailAddress"
                  :rules="emailRules"
                  autocomplete="username"
                  class="mt-0 mb-0"
                  dense
                  outlined
                  type="email"
                ></v-text-field>
              </v-col>
              <v-col class="px-10 pt-0 mt-0 pb-0 mb-0" cols="12">
                <v-text-field
                  v-model="password"
                  :append-icon="show1 ? mdiEye : mdiEyeOff"
                  :label="Password"
                  :rules="[rules.required]"
                  :type="show1 ? 'text' : 'password'"
                  autocomplete="new-password"
                  dense
                  outlined
                  @click:append="show1 = !show1"
                ></v-text-field>
              </v-col>
              <v-col class="px-10 pt-0 mt-0 pb-0 mb-0" cols="12">
                <v-btn
                  :disabled="!valid"
                  :loading="loading"
                  color="#5E6AFA"
                  large
                  style="width: 100%; color: white; text-transform: none"
                  @click="validate"
                >
                  {{ $t("log in") }}
                </v-btn>
              </v-col>
            </v-form>
            <v-divider class="mt-8 mb-4 mx-9" />
            <v-col cols="12">
              <span class="ml-5 pr-2" style="color: #444">
                {{ $t("don't have an account yet?") }}
              </span>
              <span>
                <router-link style="color: darkblue" to="/signup">
                  {{ $t("sign up") }}
                </router-link>
              </span>
            </v-col>
            <v-form
              ref="form"
              v-model="emailValid"
              @submit="sendPasswordResetEmail"
            >
              <v-container style="color: #444">
                <v-row>
                  <v-col class="ml-5 pt-0 mt-0" cols="12">
                    {{ $t("forgot your password?") }}
                    <v-dialog v-model="dialog" persistent width="23rem">
                      <template v-slot:activator="{ on, attrs }">
                        <span
                          v-bind="attrs"
                          v-on="on"
                          class="mt-4"
                          style="text-decoration: underline; color: darkblue"
                        >
                          {{ $t("reset password") }}
                        </span>
                      </template>
                      <v-card>
                        <v-form
                          ref="form"
                          v-model="emailValid"
                          @submit="sendPasswordResetEmail"
                        >
                          <v-card-title
                            style="
                              justify-content: space-around;
                              background-color: #f3f4f9;
                              color: #181d50;
                              font-weight: bold;
                            "
                          >
                            {{ $t("reset password") }}
                          </v-card-title>
                          <v-col class="px-10 pt-10 pb-0 mb-0" cols="12">
                            <v-text-field
                              v-model="resetEmail"
                              :label="emailAddress"
                              :rules="emailRules"
                              class="mt-0 mb-0"
                              clearable
                              error-count="2"
                              outlined
                            ></v-text-field>
                          </v-col>
                          <v-col class="px-10 pt-0 mt-0 pb-0 mb-0" cols="12">
                            <v-btn
                              :disabled="!emailValid"
                              :loading="resetLoading"
                              color="#5E6AFA"
                              large
                              style="
                                width: 100%;
                                color: white;
                                text-transform: none;
                              "
                              @click="sendPasswordResetEmail"
                            >
                              {{ $t("send password reset email") }}
                            </v-btn>
                          </v-col>
                          <v-card-actions class="mt-4">
                            <v-spacer></v-spacer>
                            <v-btn color="error" text @click="cancelEmail">
                              {{ $t("cancel") }}
                            </v-btn>
                          </v-card-actions>
                        </v-form>
                      </v-card>
                    </v-dialog>
                  </v-col>
                </v-row>
              </v-container>
            </v-form>
          </v-card>
        </v-col>
      </v-row>
    </v-container>

    <div v-if="notification">
      <Notification
        :color="notifyStatus.color"
        :message="notifyStatus.message"
        snackbar
      />
    </div>
  </div>
</template>

<script>
import Notification from "@/components/Notification";
import { mdiEye, mdiEyeOff } from "@mdi/js";
import axios from "axios";
import { LOG_IN, FORGOT_PASSWORD } from "../../config/config";

export default {
  components: {
    Notification
  },
  data: () => ({
    dialog: false,
    show1: false,
    valid: false,
    emailValid: false,
    loading: false,
    resetLoading: false,
    resetEmail: "",
    email: "",
    password: "",

    notification: false,
    notifyStatus: {
      color: "",
      message: ""
    },

    emailRules: [
      v => !!v || "E-mail is required",
      v => /.+@.+\..+/.test(v) || "E-mail must be valid"
    ],

    rules: {
      required: value => !!value || "Required."
    },
    mdiEye,
    mdiEyeOff,

    request: {
      status: "",
      message: ""
    }
  }),
  computed: {
    emailAddress() {
      return this.$t("email address");
    },
    Password() {
      return this.$t("password");
    },
    email_is_required() {
      return this.$t("e-mail is required");
    }
  },
  methods: {
    signIn: async function() {
      this.notification = false;

      try {
        const response = await axios.post(LOG_IN, {
          email: this.email,
          password: this.password
        });
        const token = response.data.token;
        // const status = response.data.status
        const user = response.data.data.user;
        localStorage.setItem("userName", user.name);
        localStorage.setItem("userEmail", user.email);
        localStorage.setItem("jwt", token);

        this.$store.state.jwt = token;
        this.$store.state.user.email = user.email;
        this.$store.state.user.name = user.name;

        if (user.stripe_user_id) {
          localStorage.setItem("stripe_user_id", user.stripe_user_id);
          this.$store.state.user.stripe_user_id = user.stripe_user_id;
        }

        this.loading = false;

        await this.$router.push("/");
      } catch (e) {
        this.loading = false;
        this.request.status = e.response.data.status;
        this.request.message = e.response.data.message;

        this.notifyStatus.message = "Email or password Incorrect";
        this.notifyStatus.color = "error";
        this.notification = true;
      }
    },
    sendPasswordResetToken: async function() {
      this.notification = false;

      try {
        const options = {
          method: "POST",
          // headers: { Authorization: `Bearer ${localStorage.getItem('jwt')}` },
          url: FORGOT_PASSWORD,
          data: {
            email: this.resetEmail
          }
        };
        await axios(options);
        // const status = response.data.status

        this.notifyStatus.message = "Email sent, Please check your Mailbox";
        this.notifyStatus.color = "success";
        this.notification = true;

        this.resetLoading = false;
        this.dialog = false;
      } catch (e) {
        this.resetLoading = false;
        this.request.status = e.response.data.status;
        this.request.message = e.response.data.message;

        this.notifyStatus.message =
          "User doesn't exist or something went wrong";
        this.notifyStatus.color = "error";
        this.notification = true;
      }
    },
    validate() {
      this.$refs.form.validate();
      if (this.email !== "" && this.password !== "") {
        this.loading = true;
        this.signIn();
      }
    },
    sendPasswordResetEmail() {
      this.$refs.form.validate();
      if (this.resetEmail !== "") {
        this.resetLoading = true;
        this.sendPasswordResetToken();
      }
    },
    cancelEmail() {
      this.dialog = false;
      this.resetLoading = false;
    }
  }
};
</script>
