<template>
  <div class="my-course">
    <v-container>
      <v-row class="mt-3">
        <v-col cols="12">
          {{ $t("my courses") }}
        </v-col>
      </v-row>
      <CourseRow
        :url="GET_MY_COURSES"
        :to="'player'"
        :no-result-message="`Your courses will appear here`"
      />
    </v-container>
  </div>
</template>

<script>
import { GET_MY_COURSES } from "../../config/config";
import CourseRow from "@/components/CourseRow";

export default {
  name: "MyCourses",
  data() {
    return {
      courses: [Object],
      GET_MY_COURSES
    };
  },
  components: {
    CourseRow
  }
};
</script>

<style scoped></style>
