<template>
  <v-app>
    <v-overlay :value="pageLoading">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>
    <div class="course-player" style="width: 100%" v-if="!pageLoading">
      <v-row no-gutters>
        <v-col cols="9">
          <div class="video" v-if="course.modules">
            <iframe
              :src="`${videoURL}?title=0&byline=0&portrait=0&autoplay=1`"
              allow="autoplay"
              allowfullscreen
              allowtransparency
              class="responsive-iframe"
              frameborder="0"
            ></iframe>
          </div>
        </v-col>
        <v-col cols="3">
          <v-container>
            <h3 style="font-weight: 600">
              {{ course.title }}
            </h3>
            <p
              style="font-weight: 400; font-size: 0.9rem; color: #555"
              class="pt-1"
            >
              {{ $t("created by") }} {{ course.author }}
            </p>

            <p
              style="
                margin-top: 1.5rem;
                font-weight: bold;
                color: #555;
                border-bottom: 1px solid black;
                padding-bottom: .7rem;
              "
            >
              {{ $t("table of contents") }}
            </p>
          </v-container>

          <v-container class="video-list ma-0 pa-0" style="overflow: scroll">
            <v-list class="mt-0 pt-0">
              <v-list-group
                v-for="(module, i) in course.modules"
                :key="i"
                :value="false"
              >
                <template v-slot:activator>
                  <span>
                    <b>{{ i + 1 }} &nbsp;</b>
                  </span>
                  <v-list-item-title>
                    <b style="font-weight: 450; padding-left: 20px">
                      {{ module.title }}
                    </b>
                  </v-list-item-title>
                </template>
                <v-list-item
                  v-for="(clip, index) in module.clips"
                  :key="index"
                  dense
                  @click="changeVideo(clip.playerUrl)"
                >
                  <v-list-item-icon>
                    <v-icon>{{ mdiPlayCircleOutline }}</v-icon>
                  </v-list-item-icon>
                  <v-list-item-title
                    style="font-weight: 450"
                    v-text="clip.title"
                  ></v-list-item-title>
                </v-list-item>
              </v-list-group>
            </v-list>
          </v-container>
        </v-col>
        <v-col class="pl-3 pr-3 pt-5" cols="9">
          <div id="disqus_thread"></div>
        </v-col>
      </v-row>
    </div>
  </v-app>
</template>
<script>
import { mdiPlayCircleOutline } from "@mdi/js";
import axios from "axios";
// import data from '../../data.json';
import { COURSE } from "../../config/config";

// eslint-disable-next-line camelcase,no-unused-vars
function disqus_config() {
  this.page.url = "https://weblearnings.com/player";
  // Replace PAGE_URL with your page's canonical URL variable
  this.page.identifier = this.$route.params.id;
  // Replace PAGE_IDENTIFIER with your page's unique identifier variable
}

(() => {
  // DON'T EDIT BELOW THIS LINE
  const d = document;
  const s = d.createElement("script");
  s.src = "https://weblearnings-com.disqus.com/embed.js";
  s.setAttribute("data-timestamp", +new Date());
  setTimeout(() => {
    (d.head || d.body).appendChild(s);
  }, 3000);
})();
const reloadDisqus = () => {
  // eslint-disable-next-line no-undef
  DISQUS.reset({
    reload: true,
    config() {
      this.page.identifier = this.$route.params.id;
      this.page.url = "https://weblearnings.com/player";
    }
  });
};

export default {
  name: "Player",
  data() {
    return {
      videoURL: "",
      course: Object,
      courseId: this.$route.params.id,
      pageLoading: true,
      mdiPlayCircleOutline
    };
  },
  methods: {
    changeVideo(id) {
      this.videoURL = id;
    },
    async getCourse() {
      try {
        const options = {
          method: "GET",
          headers: {
            Authorization: `Bearer ${localStorage.getItem("jwt")}`
          },
          url: `${COURSE}/${this.courseId}`
        };
        const response = await axios(options);
        this.course = response.data.data.course;
        this.videoURL = this.course.modules[0].clips[0].playerUrl;
        this.pageLoading = false;
      } catch (e) {
        this.request.status = e.response.status;
        this.request.message = e.response.data.message;
        this.pageLoading = false;
        if (e.response.status === 401) {
          await this.$store.dispatch("logout");
        }
        this.$store.state.jwt = undefined;
        this.$store.state.user.name = undefined;
        this.$store.state.user.email = undefined;
        this.pageLoading = false;
        await this.$router.push("/login");
      }
    }
  },
  created() {
    this.getCourse();
  },
  mounted() {
    setTimeout(() => {
      reloadDisqus();
    }, 3000);
  }
};
</script>
<style scoped>
.video {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
  background-color: black;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.video-list {
  max-height: 450px;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 0;
}

/* Track */
/*::-webkit-scrollbar-track {*/
/*  background: #f1f1f1;*/
/*}*/

/* Handle */
/*::-webkit-scrollbar-thumb {*/
/*  background: #888;*/
/*}*/

/* Handle on hover */
/*::-webkit-scrollbar-thumb:hover {*/
/*  background: #555;*/
/*}*/
</style>
