<template>
  <div>
    <v-form ref="form" v-model="valid">
      <v-container class="mt-4">
        <v-row class="pa-0 ma-0 col-lg-8 mb-8">
          {{ $t("reset password") }}
        </v-row>
        <v-row class="pa-0 ma-0 col-lg-8">
          <v-col cols="12">
            <v-text-field
              v-model="password"
              :rules="[rules.required, rules.min]"
              :append-icon="show1 ? mdiEye : mdiEyeOff"
              :type="show1 ? 'text' : 'password'"
              @click:append="show1 = !show1"
              name="input-10-1"
              :label="NewPassword"
              outlined
              counter
              dense
            ></v-text-field>
          </v-col>
        </v-row>
        <v-row class="pa-0 ma-0 col-lg-8">
          <v-col cols="12">
            <v-text-field
              v-model="passwordConfirm"
              :rules="[
                rules.required,
                rules.min,
                v => v === password || 'Password do not match :('
              ]"
              :append-icon="show2 ? mdiEye : mdiEyeOff"
              :type="show2 ? 'text' : 'password'"
              @click:append="show2 = !show2"
              name="input-10-2"
              :label="ConfirmNewPassword"
              counter
              outlined
              dense
            ></v-text-field>
          </v-col>
        </v-row>
        <v-row class="col-12 pa-0 ma-0">
          <v-col>
            <v-btn
              color="purple"
              class="mr-4"
              @click="validate"
              :disabled="!valid"
              outlined
              :loading="loading"
            >
              {{ $t("reset") }}
            </v-btn>
          </v-col>
        </v-row>
      </v-container>
    </v-form>
    <div v-if="notification">
      <Notification
        snackbar
        :color="notifyStatus.color"
        :message="notifyStatus.message"
      />
    </div>
  </div>
</template>

<script>
import { mdiEye, mdiEyeOff } from "@mdi/js";
import { RESET_PASSWORD } from "../../config/config";
import axios from "axios";
import Notification from "@/components/Notification";

export default {
  name: "ResetPassword",
  components: {
    Notification
  },
  data: () => ({
    show1: false,
    show2: false,
    valid: false,
    loading: false,
    token: "",
    notification: false,
    notifyStatus: {
      color: "",
      message: ""
    },
    password: "",
    passwordConfirm: "",
    rules: {
      required: value => !!value || "Required.",
      min: v => v.length >= 8 || "Min 8 characters"
    },
    mdiEyeOff,
    mdiEye,
    request: {
      status: "",
      message: ""
    }
  }),
  computed: {
    NewPassword() {
      return this.$t("new password");
    },
    ConfirmNewPassword() {
      return this.$t("confirm new password");
    }
  },
  mounted() {
    this.token = this.$route.query.token;
  },
  methods: {
    resetPassword: async function() {
      this.notification = false;
      try {
        await axios.patch(`${RESET_PASSWORD}/${this.token}`, {
          password: this.password,
          passwordConfirm: this.passwordConfirm
        });
        this.loading = false;

        this.notifyStatus.message = "Password Reset successful Please Login";
        this.notifyStatus.color = "success";
        this.notification = true;

        setTimeout(() => {
          this.$router.push("/login");
        }, 2000);
      } catch (e) {
        this.loading = false;
        this.request.status = e.response.data.status;
        this.request.message = e.response.data.message;

        this.notifyStatus.message = "Link expired or invalid";
        this.notifyStatus.color = "error";
        this.notification = true;
      }
    },

    validate() {
      this.$refs.form.validate();
      if (
        this.password !== "" &&
        this.passwordConfirm !== "" &&
        this.password === this.passwordConfirm
      ) {
        this.loading = true;
        this.resetPassword();
      }
    }
  }
};
</script>
