<template>
  <!--  style="background-color: #606afa"-->
  <div class="pb-15 pt-15">
    <v-container>
      <v-row style="justify-content: space-around">
        <v-col cols="10" sm="6" md="6" lg="4">
          <v-card class="mx-auto pb-10" flat elevation="4">
            <v-form ref="form" v-model="valid">
              <v-card-title
                style="
                  justify-content: space-around;
                  background-color: #f3f4f9;
                  color: #181d50;
                  font-weight: bold;
                "
              >
                {{ $t("create account") }}
              </v-card-title>
              <v-col cols="12" class="px-10 pt-10 pb-0 mb-0">
                <v-text-field
                  v-model="name"
                  :rules="nameRules"
                  :label="fullName"
                  outlined
                  dense
                  class="mt-0 mb-0"
                ></v-text-field>
              </v-col>
              <v-col cols="12" class="px-10 pt-0 mt-0 pb-0 mb-0">
                <v-text-field
                  :label="EmailAddress"
                  outlined
                  dense
                  type="email"
                  v-model="email"
                  :rules="emailRules"
                  autocomplete="username"
                ></v-text-field>
              </v-col>
              <v-col cols="12" class="px-10 pt-0 mt-0 pb-0 mb-0">
                <v-text-field
                  v-model="password"
                  :rules="[rules.required, rules.min]"
                  :append-icon="show1 ? mdiEye : mdiEyeOff"
                  :type="show1 ? 'text' : 'password'"
                  @click:append="show1 = !show1"
                  :label="Password"
                  outlined
                  counter
                  dense
                  autocomplete="new-password"
                ></v-text-field>
              </v-col>
              <v-col cols="12" class="px-10 pt-0 mt-0 pb-0 mb-0">
                <v-btn
                  color="#5E6AFA"
                  large
                  @click="validate"
                  :disabled="!valid"
                  :loading="loading"
                  style="width: 100%; color: white; text-transform: none"
                >
                  {{ $t("sign up with email") }}
                </v-btn>
              </v-col>
            </v-form>
            <v-divider class="mt-8 mb-4 mx-9" />
            <v-col cols="12">
              <span class="ml-6 pr-2" style="color: #444">
                {{ $t("already have an account?") }}
              </span>
              <span>
                <router-link to="/login" style="color: darkblue">
                  {{ $t("log in") }}
                </router-link>
              </span>
            </v-col>
          </v-card>
        </v-col>
      </v-row>
    </v-container>

    <div v-if="notification">
      <Notification
        snackbar
        :color="notifyStatus.color"
        :message="notifyStatus.message"
      />
    </div>
  </div>
</template>

<script>
import Notification from "@/components/Notification";
import { mdiEye, mdiEyeOff } from "@mdi/js";
import { SIGN_UP } from "../../config/config";

import axios from "axios";

export default {
  components: {
    Notification
  },
  data: () => ({
    show1: false,
    show2: false,
    valid: false,
    loading: false,

    name: "",
    email: "",
    password: "",

    notification: false,
    notifyStatus: {
      color: "",
      message: ""
    },

    emailRules: [
      v => !!v || "E-mail is required",
      v => /.+@.+\..+/.test(v) || "E-mail must be valid"
    ],

    rules: {
      required: value => !!value || "Required.",
      min: v => v.length >= 8 || "Min 8 characters"
    },

    nameRules: [
      v => !!v || "Name is required",
      v => v.length >= 4 || "Name is too short",
      v => v.trim().length >= 4 || "Name is too short"
    ],
    mdiEyeOff,
    mdiEye,
    request: {
      status: "",
      message: ""
    }
  }),
  computed: {
    fullName() {
      return this.$t("full name");
    },
    Password() {
      return this.$t("password");
    },
    EmailAddress() {
      return this.$t("email address");
    }
  },
  methods: {
    signUp: async function() {
      try {
        this.notification = false;
        const response = await axios.post(SIGN_UP, {
          name: this.name,
          email: this.email,
          password: this.password
        });
        const token = response.data.token;
        // const status = response.data.status
        const user = response.data.data.user;

        localStorage.setItem("userName", user.name);
        localStorage.setItem("userEmail", user.email);
        localStorage.setItem("jwt", token);

        this.$store.state.jwt = token;
        this.$store.state.user.email = user.email;
        this.$store.state.user.name = user.name;

        await this.$router.push("/");
        this.loading = false;
      } catch (e) {
        this.request.status = e.response.data.status;
        this.request.message = e.response.data.message;

        this.loading = false;
        this.notifyStatus.message = "Email already exists or Incorrect Email";
        this.notifyStatus.color = "error";
        this.notification = true;
      }
    },

    validate() {
      this.$refs.form.validate();
      if (this.name !== "" && this.email !== "" && this.password !== "") {
        this.loading = true;
        this.signUp();
      }
    },
    clearInputField() {
      this.name = "";
      this.email = "";
      this.password = "";
    }
  }
};
</script>
