<template>
  <div class="courseRow">
    <v-container style="background-color: #f4f5f9">
      <v-row v-if="courses.length <= 1 && courses === Object" class="col-12">
        <v-col
          cols="12"
          xs="12"
          sm="6"
          md="4"
          lg="3"
          xl="2"
          v-for="n in 3"
          :key="n"
        >
          <div class="card">
            <div class="card-img skeleton">
              <!-- waiting for img to load from javascript -->
            </div>
            <div class="card-body">
              <h2 class="card-title skeleton">
                <!-- wating for title to load from javascript -->
              </h2>
              <p class="card-intro skeleton">
                <!-- waiting for intro to load from Javascript -->
              </p>
            </div>
          </div>
        </v-col>
      </v-row>
      <v-row v-if="courses.length === 0" class="col-12">
        <v-container fluid>
          <v-row>
            <v-col cols="12">
              <v-row
                align="center"
                justify="center"
                class="grey lighten-5"
                style="height: 500px"
              >
                {{ noResultMessage }}
              </v-row>
            </v-col>
          </v-row>
        </v-container>
      </v-row>
      <v-row v-if="courses.length > 0" class="pb-8">
        <v-col
          v-for="(course, index) in courses"
          :key="index"
          cols="12"
          xs="12"
          sm="6"
          md="4"
          lg="3"
          xl="2"
        >
          <v-card
            :to="`${to}/` + course._id"
            class="mx-auto my-2 pa-3"
            max-width="230"
            tile
            style="border-radius: 7px"
          >
            <v-img
              :src="course.courseImage.url"
              :alt="course.courseImage.alt"
              height="120"
              style="border-radius: 2px"
            ></v-img>

            <p style="font-weight: 500" class="pa-1 mt-1 mb-0">
              {{ course.title }}
            </p>
            <p
              class="ml-1 mb-2"
              style="font-size: 12px; opacity: 0.7; font-weight: 400"
            >
              {{ course.author }}
            </p>
            <v-row v-if="course.price || course.price === 0" class="ma-0 pa-0">
              <v-col cols="7" class="ma-0 pa-0">
                <v-row class="ma-0 pa-0">
                  <v-col cols="6" class="ma-0 pa-0">
                    <p v-if="course.price > 0" class="ml-2 mt-0 mb-1 mr-0">
                      ₹{{ course.price }}
                    </p>
                    <p v-if="course.price === 0" class="ml-1 mt-0 mb-1 mr-0">
                      {{ $t("free") }}
                    </p>
                  </v-col>
                  <v-col cols="6" class="ma-0 pa-0">
                    <del
                      v-if="course.price > 0"
                      style="font-size: 0.84rem; color: #444"
                      class="ml-0"
                    >
                      ₹{{ course.price + 400 }}
                    </del>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "CourseRow",
  props: {
    url: String,
    to: String,
    noResultMessage: String
  },
  data() {
    return {
      courses: Object
    };
  },
  methods: {
    async getCourse() {
      try {
        const options = {
          method: "GET",
          headers: {
            Authorization: `Bearer ${localStorage.getItem("jwt")}`
          },
          url: this.url
        };
        const response = await axios(options);
        this.courses = response.data.data.courses;
      } catch (e) {
        if (e.response.status === 401) {
          await this.$store.dispatch("logout");
        }
        this.$store.state.jwt = undefined;
        this.$store.state.user.name = undefined;
        this.$store.state.user.email = undefined;
        await this.$router.push("/login");
        this.courses = [e];
      }
    }
  },
  created() {
    this.getCourse();
  }
};
</script>

<style scoped lang="scss">
// THE CARD
.card {
  display: flex;
  flex-direction: column;
  flex-basis: 300px;
  flex-shrink: 0;
  flex-grow: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 5px 10px 0 rgba(#000, 0.15);
  //border-radius: 10px;
  overflow: hidden;
  margin: 1rem;
}

.card-img {
  padding-bottom: 56.25%;
  position: relative;

  img {
    position: absolute;
    width: 100%;
  }
}

.card-body {
  padding: 1.5rem;
}

.card-title {
  font-size: 1.25rem;
  line-height: 1.33;
  font-weight: 700;

  &.skeleton {
    // NOTICE THIS
    min-height: 1rem;
    border-radius: 4px;
  }
}

.card-intro {
  margin-top: 0.75rem;
  line-height: 1.5;

  &.skeleton {
    // NOTICE THIS
    min-height: 1rem;
    border-radius: 4px;
  }
}

// THE LOADING EFFECT
.skeleton {
  background-color: #e2e5e7;
  // The shine that's going to move across the skeleton:
  background-image: linear-gradient(
    90deg,
    rgba(#fff, 0),
    rgba(#fff, 0.5),
    rgba(#fff, 0)
  );
  background-size: 40px 100%; // width of the shine
  background-repeat: no-repeat; // No need to repeat the shine effect
  background-position: left -40px top 0; // Place shine on the left side, with offset on the left based on the width of the shine - see background-size
  animation: shine 1s ease infinite; // increase animation time to see effect in 'slow-mo'
}

@keyframes shine {
  to {
    // Move shine from left to right, with offset on the right based on the width of the shine - see background-size
    background-position: right -40px top 0;
  }
}
</style>
