<template>
  <div class="text-center">
    <v-menu :close-on-content-click="true" :nudge-width="200">
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          class="ma-2"
          depressed
          small
          outlined
          color="primary"
          v-bind="attrs"
          v-on="on"
        >
          <!--          <v-icon left>{{ mdiAccount }}</v-icon>-->
          {{ $t("account") }}
        </v-btn>
      </template>

      <v-card>
        <v-list>
          <v-list-item>
            <v-list-item-content>
              <v-list-item-title
                style="text-transform: capitalize"
                v-model="user"
                >{{ user }}
              </v-list-item-title>
              <v-list-item-subtitle v-model="email"
                >{{ email }}
              </v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-list>

        <v-divider></v-divider>
        <v-list dense>
          <v-list-item color="primary" to="/account">
            <v-list-item-icon>
              <v-icon>{{ mdiAccountSettings }}</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title>
                {{ $t("account settings") }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-list-item color="primary" to="/my-courses">
            <v-list-item-icon>
              <v-icon>{{ mdiBookOpenBlankVariant }}</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title>{{ $t("my courses") }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-list-item color="purple" @click="logout">
            <v-list-item-icon>
              <v-icon>{{ mdiLogout }}</v-icon>
            </v-list-item-icon>
            <v-list-item-content>
              <v-list-item-title>{{ $t("logout") }}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-card>
    </v-menu>
  </div>
</template>

<script>
import {
  mdiAccountSettings,
  mdiLogout,
  mdiBookOpenBlankVariant
} from "@mdi/js";

export default {
  data: () => ({
    fav: true,
    mdiAccountSettings,
    mdiLogout,
    mdiBookOpenBlankVariant,
    user: localStorage.getItem("userName"),
    email: localStorage.getItem("userEmail")
  }),
  methods: {
    logout() {
      localStorage.clear();
      this.$store.state.user.name = undefined;
      this.$store.state.user.email = undefined;
      this.$store.state.jwt = undefined;
      if (this.$route.fullPath !== "/") this.$router.push("/");
    }
  }
};
</script>
