<template>
  <v-app id="inspire">
    <v-app-bar app class="purple--text" clipped-left color="white" flat>
      <RouterLink
        style="
          text-decoration: none;
          color: #32325d;
          font-weight: bolder;
          font-family: 'Open Sans', sans-serif;
        "
        to="/"
      >
        <v-toolbar-title class="ml-4 align-center">
          <span style="font-family: Oswald, sans-serif"> WebLearnings </span>
        </v-toolbar-title>
      </RouterLink>
      <div class="nav">
        <nav class="nav">
          <router-link active-class="active" class="items" exact to="/">
            {{ $t("home") }}
          </router-link>
          <router-link active-class="active" class="items" exact to="/browse">
            {{ $t("browse") }}
          </router-link>
          <router-link active-class="active" class="items" exact to="/help">
            {{ $t("contact") }}
          </router-link>
        </nav>
      </div>
      <v-spacer></v-spacer>
      <div v-if="loggedIn">
        <Profile />
      </div>
      <v-btn
        class="mx-5"
        v-if="!loggedIn"
        color="primary"
        outlined
        small
        to="/login"
      >
        {{ $t("login") }}
      </v-btn>
      <v-menu bottom offset-y open-on-hover>
        <template v-slot:activator="{ on, attrs }">
          <v-btn v-bind="attrs" v-on="on" color="transparent" depressed>
            <v-icon size="1.3rem">{{ mdiTranslate }}</v-icon>
            <v-icon size="1rem">{{ mdiMenuDown }}</v-icon>
          </v-btn>
        </template>

        <v-list>
          <v-list-item
            v-for="(item, index) in items"
            :key="index"
            dense
            link
            @click="changeLocale(item.locale)"
          >
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
    </v-app-bar>
    <v-main>
      <v-container fluid style="background-color: #f4f5f9">
        <router-view></router-view>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import Profile from "@/components/Profile";
import { mdiHomeOutline, mdiTranslate, mdiMenuDown } from "@mdi/js";

export default {
  props: {
    source: String
  },
  components: {
    Profile
  },
  data: () => ({
    drawer: null,
    dialog: false,
    mdiHomeOutline,
    mdiTranslate,
    mdiMenuDown,
    items: [
      { title: "English", locale: "en" },
      { title: "বাংলা", locale: "bn" }
    ]
  }),
  computed: {
    loggedIn() {
      return (
        this.$store.state.user.name &&
        this.$store.state.user.email &&
        this.$store.state.jwt
      );
    }
  },
  methods: {
    changeLocale(locale) {
      this.$i18n.locale = locale;
      localStorage.setItem("locale", locale);
    }
  },
  created() {
    const locale = localStorage.getItem("locale");
    if (locale) {
      this.$i18n.locale = locale;
    } else if (navigator.language) {
      this.$i18n.locale = navigator.language.substring(0, 2);
    }

    this.$vuetify.theme.dark = false;
  }
};
</script>
<style lang="scss" scoped>
.nav {
  margin-left: 20px;
}

.items {
  padding-left: 2.3rem;
  padding-right: 2.3rem;
  text-decoration: none;
  padding-bottom: 1.25rem;
  color: #32325d;
}

.active {
  border-bottom: 2px solid #32325d;
}

@media only screen and (max-width: 700px) {
  .nav {
    visibility: hidden;
  }
}
</style>
